 <div class="user-details">
  <h1> My Skills </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Web Dev</h2>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <i class="devicon-express-original-wordmark"></i>
      <i class="devicon-angularjs-plain colored"></i>      
      <p>Build Web Pages with Node.js, Express and AngularJS</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-java-plain colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-c-plain-wordmark"></i>
      <p>My favorite programming languages are Java, Python and C</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-android-plain colored"></i>
      <i class="devicon-amazonwebservices-plain colored"></i>
      <p>Android Studio and AWS</p>
    </div>
</div>
