<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="FIFA 18 assistant img" src="{{ "/assets/img/EPL.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> FIFA 18 Assistant Android App </h3>
    <ul>
      <li> Android Studio</li>
      <li> Picasso</li>
    </ul>
    <p>This is an Android App of a FIFA 18 Mobile Database, serving as a mobile assistant for the video game. Implemented a “prefix search engine” using prefix tree data structure to search team names. <br>Designed user-friendly UI and implemented soccer players’ photo gallery using Picasso</p>
    <a class="project-link" target="_blank" href="https://github.com/hl1028/FIFA-18-Assistant-android-app">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="EPL image" src="{{ "/assets/img/FIFA18assist.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> English Premier League Database Web App </h3>
    <ul>
      <li> SQL/MySQL </li>
      <li> MongoDB </li>
      <li> Express</li>
      <li> AngularJS</li>
      <li> Chart.js</li>
    </ul>
    <p>Developed a web app for users to query data or generate soccer data analysis from EPL database.
      <br>(won Best Project Award out of 45 competitors)
      <br>Implemented outstanding data visualization with AngularJS and Chart.js.
      <br>Cleaned and normalized csv datasets using Java before constructing MySQL database.</p>
    <a class="project-link" target="_blank" href="#">Check it out</a>
  </div>
</div>
