<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="FIFA 18 assistant img" src="{{ "https://github.com/hl1028/FIFA-18-Assistant-android-app/raw/master/readmeImage/2.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> FIFA 18 Assistant Android App </h3>
    <ul>
      <li> Android Studio</li>
      <li> Picasso</li>
    </ul>
    <p>This is an Android App of a FIFA 18 Mobile Database, serving as a mobile assistant for the video game. Implemented a “prefix search engine” using prefix tree data structure to search team names. Designed user-friendly UI and implemented soccer players’ photo gallery using Picasso</p>
    <a class="project-link" target="_blank" href="https://github.com/hl1028/FIFA-18-Assistant-android-app">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" target="_blank" href="#">Check it out</a>
  </div>
</div>
